/* remove bootstrap padding so images sit right next to each other with no gaps */
.fileManagerList .col-lg-3, 
.fileManagerList .col-md-4, 
.fileManagerList .col-sm-6, 
.fileManagerList .col-xs-12 {
    padding-bottom: 16px;
}

/* general styling for all the hovers */

.fileManagerList .hover {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

    .fileManagerList .hover .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
		margin-top: 14px;
    }

    .fileManagerList .hover img {
        display: block;
        position: relative;
    }

    .fileManagerList .hover .info-text {
        color: #fff;
        text-align: center;
        position: relative;
		font-size: 21px;
    }		
/* effect hover 3 */

.fileManagerList .hover1 img {
    transition: all 0.4s ease-in;
}
 
 .fileManagerList .hover1 button,
.fileManagerList .hover1 .info-text {
    transform: scale(0.7);
    transition: all 0.4s ease-in;
    opacity: 0;
}

.fileManagerList .hover1:hover img {
    filter: grayscale(1) blur(3px);
    -webkit-filter: grayscale(1) blur(3px);
    transform: scale(1.2);
}
 
.fileManagerList .hover1:hover button,
.fileManagerList .hover1:hover .info-text {
    opacity: 1;
    transform: scale(1);
}